body {
  background-color: white;
}


.post_session {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}

.post_content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.post_content img {
  height: 60px;
  width: auto;
  border-radius: 50%;
  align-items: center;
}

.post_content strong {
  padding-left: 15px;
  display: grid;
  font-size: 16px;
}

.post_content p {
  margin-top: 3px;
  font-size: 16px;
  color: #666;
  line-height: 1.4;
  text-align: left;
}

.post_comments {
  padding: 20px;
}

.hr1 {
  margin: 10px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}

.post_content a {
  size: 5px;
  border-radius: 50%;
}
